$content-width: 800px;
$main: #708090;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-hover-color: $main;
$heading-font: 'Courier New', Courier, monospace;
$heading-font-color: #B9975B;
$light: #e7edf4;
$header-left: #FAFAFA;
$header-right: #A9A9A9;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}